# Allow shell to access tombstone
allow shell tombstone_data_file:dir { read open getattr search };
allow shell tombstone_data_file:file { read open getattr };
